.textoimage{
    display: flex;
    flex-wrap: nowrap;   
}

#imgyt,#imgif{
    width: 5rem;
}
.textoimage p{
    margin: 0 0 0 1rem;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    text-decoration: none;
    
}

a#nav{
    text-decoration: none;
    padding: 1rem;
    border-radius: .3rem;
    color: black;
}
a#nav:hover{
    background-color: #293d34;
    color: aliceblue;
}

#yt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td{
    border: white .1rem solid;
}

#par{
    background-color: rgb(189, 189, 189);
}

table tr:hover , #par:hover{
    background-color: #293d34;
    color: aliceblue;
    border: wheat .3rem solid;
}

#cabecario{
    background-color: greenyellow;
    color: black;
    text-align: center;
    height: 1.3rem;
}

#horario{
    background-color: #69706d;
    color: antiquewhite;
    text-align: center;
}

.atual{
    background-color: gold;
}

.f1{
    display: flex;
    justify-content: end;
}
.f1:hover{
    justify-content:center;
}
#f1{
    width: 30%;
}

.privace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lista{
    display: flex;
    flex:row;
    justify-content: space-around;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;    
}

#enviar{
    color: whitesmoke;
    background-color: black;
    padding: .3rem;
    width: 6rem;
    border-radius: .3rem;
    text-align: center;
}
